<footer>
    
 <div class="box2">
 <ul>
          
          <span><a class="text-muted" href="mailto:{{ site.email }}">{{ site.email }}</a></span> <span class="text-muted"> &bull; </span> <span class="text-muted">{{ site.description }}</span> <span class="text-muted"> &bull; </span> <span><a class="text-muted" href="{{ site.url }}/tos/index.html">Terms of Service</a></span> <span class="text-muted"> &bull; </span> <span><a class="text-muted" href="{{ site.url }}/privacy/index.html">Privacy Policy</a></span> <span class="text-muted"> &bull; </span> <span class="text-muted">Developed and maintained by <a href="http://www.monsoonmalabar.com" class="text-warning">Monsoon Malabar</a></span> <span class="text-muted"> &bull; </span> <span class="text-success">Go green, go veg.</span>
        </ul>
</div>

</footer>


